
.topNav{
  // background: #000;
  padding: 1rem;
  .navbar-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .navbar-brand{
      font-size: 2rem;
      color: #255d67;
      font-weight: 550;
    }

    .fa{
      font-size: 2rem;
      justify-content: space-between;
      align-items: center;
    }
  }



}


.nav-right{
  margin-left: auto !important;
}

.front-nav{
  background:#36577a;
  *{
    color: #fff !important;
  }
  .humburger{
    display: none;
  }
  .main-navbar{
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    margin-bottom: 0;

    .nav-link{
      display: flex;
      align-items: center;
      padding: 1.2rem;

      .fa{
        font-size: 1rem;
        margin-left: 0.1rem;
      }
    }
    .nav-link.active{
      background: #fff;
      color: #36577a !important;
    }

    .dropdown .dropdown-items{
      display: none;
      position: absolute;
      background-color: #f74545;
      width: 250rem;;
      left: 5%;
      padding: 0;
      margin-left: 0;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
      list-style: none;

      .dropdown-item{
        padding: 1rem;
        margin: 0;

      }
      .tab{
        padding: 1rem;
        margin: 0;
      }
    }



    .dropdown:hover .dropdown-items{
      display: block;


    }

  }

  .dropdown-itemsDiv{
    // display: none;
    .dropdown-items{
      list-style: none;
      padding: 0;

    .dropdown-item{
      padding: 0;
      
    }
    }
  }
}
